nav {
  height: 120px;
  background: #000;
  display: flex;
  align-items: center;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 175px;
}

.fa-spider,
.fa-bars {
  font-size: 32px;
  color: white;
}

header {
  /* height: 100vh; */
  background: linear-gradient(red, blue);
}

.log-land {
  width: 320px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  background: black;
  border-radius: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.spidey {
  width: 500px;
  aspect-ratio: 1;
}

.box {
  height: 150px;
  background: red;
  display: flex;
  align-items: center;
}

.que {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.qq {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.who {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-style: italic;
}
